[manifest]
version = "1.0.0"
dump_lua = true
priority = 69

# Fix memory leak (moveables being added twice)
[[patches]]
[patches.pattern]
target = "engine/moveable.lua"
position = "at"
pattern = '''
    table.insert(G.MOVEABLES, self)
    if getmetatable(self) == Moveable then 
        table.insert(G.I.MOVEABLE, self)
    end'''
payload = '''
    if not self.added_moveable then
        table.insert(G.MOVEABLES, self)
        if getmetatable(self) == Moveable then 
            table.insert(G.I.MOVEABLE, self)
        end
        self.added_moveable = true
    end
'''
match_indent = true