[manifest]
version = "1.0.0"
dump_lua = true
priority = 69

# Don't remove cards from Quick Peek from used_jokers
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
    if not G.OVERLAY_MENU then
        for k, v in pairs(G.P_CENTERS) do'''
position = "at"
payload = '''
    if not G.OVERLAY_MENU and not self.cart_overlay_card then
        for k, v in pairs(G.P_CENTERS) do
'''
match_indent = true

# Don't remove cards from Quick Peek from used_jokers -- SMODS
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
    if not G.OVERLAY_MENU then
        if not next(SMODS.find_card(self.config.center.key, true)) then'''
position = "at"
payload = '''
    if not G.OVERLAY_MENU and not self.cart_overlay_card then
        if not next(SMODS.find_card(self.config.center.key, true)) then
'''
match_indent = true

# Fix context.card_added triggering for SMODS
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = '''
if not from_debuff and G.hand then'''
position = "at"
payload = '''
if not from_debuff and G.hand and not self.cart_overlay_card then
'''
match_indent = true

# Add Peek Shop button to packs
[[patches]]
[patches.pattern]
target = "functions/UI_definitions.lua"
pattern = '''{n=G.UIT.C,config={align = "tm", padding = 0.05, minw = 2.4}, nodes={}},'''
position = "at"
payload = '''
{n=G.UIT.C,config={align = "tm", padding = 0.05, minw = 2.4}, nodes= not Cartomancer.show_peek_shop() and {} or {
  {n=G.UIT.R,config={minh =0.2}, nodes={}},
  {n=G.UIT.R,config={align = "tm",padding = 0.2, minh = 1.2, minw = 1.8, r=0.15,colour = G.C.GREY, button = 'carto_peek_shop', func = 'carto_can_peek_shop', hover = true,
  hover_offset = {x = 3.5, y = 1},
  hover_ease_to = {x = 3.5, y = -3.8},
  hover_align = 'tm',
  cart_hover_func = Cartomancer.get_hover_tab,
  shadow = true, }, nodes = {
    {n=G.UIT.C, config={align = "tm"}, nodes= {
      {n=G.UIT.R, config={align = "tm"}, nodes = {
        {n=G.UIT.T, config={text = localize('carto_peek_shop_1'), scale = 0.5, colour = G.C.WHITE, shadow = true, }},
      }},
      {n=G.UIT.R, config={align = "tm"}, nodes = {
        {n=G.UIT.T, config={text = localize('carto_peek_shop_2'), scale = 0.5, colour = G.C.WHITE, shadow = true, }}
      }},
    }}
  }}
}},
'''
match_indent = true

# Add Peek Shop button to packs SMODS
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/game_object.lua"]'
pattern = '''{n=G.UIT.C,config={align = "tm", padding = 0.05, minw = 2.4}, nodes={}},'''
position = "at"
payload = '''
{n=G.UIT.C,config={align = "tm", padding = 0.05, minw = 2.4}, nodes= not Cartomancer.show_peek_shop() and {} or {
  {n=G.UIT.R,config={minh =0.2}, nodes={}},
  {n=G.UIT.R,config={align = "tm",padding = 0.2, minh = 1.2, minw = 1.8, r=0.15,colour = G.C.GREY, button = 'carto_peek_shop', func = 'carto_can_peek_shop', hover = true,
  hover_offset = {x = 3.5, y = 1},
  hover_ease_to = {x = 3.5, y = -3.8},
  hover_align = 'tm',
  cart_hover_func = Cartomancer.get_hover_tab,
  shadow = true, }, nodes = {
    {n=G.UIT.C, config={align = "tm"}, nodes= {
      {n=G.UIT.R, config={align = "tm"}, nodes = {
        {n=G.UIT.T, config={text = localize('carto_peek_shop_1'), scale = 0.5, colour = G.C.WHITE, shadow = true, }},
      }},
      {n=G.UIT.R, config={align = "tm"}, nodes = {
        {n=G.UIT.T, config={text = localize('carto_peek_shop_2'), scale = 0.5, colour = G.C.WHITE, shadow = true, }}
      }},
    }}
  }}
}},
'''
match_indent = true